#title{
	background-color: salmon;
}

#imageContainer {
	border-color: black;
	border-style: solid;
	border-width: 5px;
	height:500px;
	width:100;
	margin: 0 auto;
}

img{
	width:150px;
	margin:20px;
	height: 100px;	
	position: relative;
}

.matchingBox {
	width:150px;
	margin:20px;
	height: 100px;
	border: 1px solid black;
	position: relative;
	float: left;
}


#orangeImages{
	border: 5px solid orange;
}

#redImages{
	border: 5px solid red;
}

#blueImages{
	border: 5px solid blue;
}

#yellowImages{
	border: 5px solid yellow;
}

#greenImages{
	border: 5px solid green;
}

.blueText{
	color: blue;
	text-align: center;
}

.greenText{
	color:green;
	text-align: center;
}

.redText{
	color:red;
	text-align: center;
}

.orangeText{
	color:orange;
	text-align: center;
}

.yellowText{
	color:yellow;
	text-align: center;
}