.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, .9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Gloria Hallelujah', cursive;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1,
h4 {
    color: #123eef;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}



/* Come up with a font style for the NavBar:
	div id="mySidenav"
	can use a tag for styling font

Shapes game:
	h1 with it="title" with class=text-center
	div id ="div0" throught 3 with text

Index has:
 	h1 tag 93 and an h4 strong tag

Colors has:
	 h1 with id=title
	 with class text-center
	 h2 tag for instructions
	 h3 tag for clickin the button itself

Animals has:
 h1 with id title and class tex-center
 div 0 through 3

Alphabet has:
	h1 id=title with class text-center
	div0 through 3 
