/* Come up with a font style for the NavBar:
	div id="mySidenav"
	can use a tag for styling font*/



/*Shapes game:
	h1 with it="title" with class=text-center
	div id ="div0" throught 3 with text*/

/*Index has:
 	h1 tag 93 and an h4 strong tag*/

/*Colors has:
	 h1 with id=title
	 with class text-center
	 h2 tag for instructions
	 h3 tag for clickin the button itself*/

/*Animals has:
 h1 with id title and class tex-center
 div 0 through 3*/

/*Alphabet has:
	h1 id=title with class text-center
	div0 through 3 */

/*#title*/
h1, h4 {
	font-family: 'Encode Sans Condensed', sans-serif;
	font-family: 'Poppins', sans-serif;
	/*color: white;*/
}

.textColor{
	color: white;
}


#div0, #div1, #div2, #div3{
	border: 5px solid #32CD32;
}

#div0 {
	margin-top: 6px;
	margin-right: 3px;
	margin-bottom: 3px
}

#div1{
	margin-top:6px;
	margin-left:3px;
	margin-bottom:3px;
}

#div2 {
	margin-right: 6px;
}

/*Changing the navbar hover color on the navBar css page
	NOT THE STYLE CSS*/
.sidenav {
	background-color: #1e90ff;
}

.sidenav a:hover,
.offcanvas a:focus {
    /*color: #f1f1f1;*/
    /*color: #1e90ff;*/
    color:yellow;
}

