.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

h1,
h4 {
    color: #123eef;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
* {

}

html {
	height:100%;
}

body {

}

.height-50 {
	height:50%;
}

#title {
	background-color:rgba(0, 100, 255, 1);
	color:white;
	margin:0;
	padding:10px;
}

.background-gray {
	background-color:rgba(100, 100, 100, 1);
}

.relative {
    position:relative;
    padding:0;
    width:100%;
    padding:5%;
    min-height:100%;
} 

.absolute {
    position:absolute;
    top:5%;
    left:5%;
    vertical-align: middle;
    padding:0;
    z-index:2;
    background-color: rgba(175, 175, 175, .5);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
    font-size: 64px;
    width:90%;
    height:90%;
}