body{
  background-image: url('https://vectr.com/images/tutorials/how-to-use-gradients/linear-gradient-tutorial-example.png');
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
button {padding: 10px;
  border-radius: 20px;
  border: none;
 background-color: #308CC4;
    color: white;
  font-family: 'Sedgwick Ave', cursive;
  cursor: pointer;
}

ul{
  padding-left: 10px;
  padding-right: 10px;
}

button:active {
border: none;
  transform: translateY(2px);
  
}
button:focus {outline:0;}
input:focus {outline:0;}
hr{
  border-width: 4px;
  width: 100%;
  }
input{
width: 0px;
  color: blue;
  font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
  
    background-image: url('http://www.clker.com/cliparts/n/C/y/X/u/K/search-icon-th.png');
    background-position: 10px 13px; 
  background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}input[type=text]:focus {
    width: 50%;
}
a:hover{
  text-decoration: none;
}